@page "/about"

<div class="about-container">
    <div class ="aboutText">
        <h1>About</h1>
        <p>Mike’s Barber Shop has been a community favorite for over 50 years, offering timeless cuts, clean shaves, and a welcoming atmosphere. Founded by master barber Mike, the shop is known for precision, personal service, and friendly conversation. Whether you’re after a classic straight-razor finish or a modern fade, Mike’s delivers more than a haircut—it’s a tradition.</p>
    </div>
    <img src="about-image.jpg" class="image" />
</div>

@code {

}
