@page "/contact"

<div class="contact-container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6312.862677093851!2d-73.98823395938666!3d40.74844047150719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e1!3m2!1sen!2sus!4v1754778205889!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

@code {

}
