@page "/"

<div class="hero">
    <img src="hero.png" class="image" />
    <div class="hero-overlay">
        <h1>Ready for a Fresh Cut?</h1>
        <p>Book with BarberCo today.</p>
        <button class="btn btn-primary">Book Now</button> 
    </div>
</div>


<Appointment /> 
<Services />
<Contact />
<About />


@code {

}
