@page "/"

<div class="hero" style="background-image: url('hero.png'); height: 500px; position: relative; color: white; text-align: center;">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1>Ready for a Fresh Cut?</h1>
        <p>Book with BarberCo today.</p>
        <button class="btn btn-primary">Book Now</button> <!-- Example button; link to /appointment -->
    </div>
</div>

<Appointment /> 
<Services />
<Contact />
<About />


@code {

}
