@page "/services"

<div class="services-container">
    <h1>Services</h1>
    <div class="grid"> 
        @foreach (var item in mockItems)
        {
            <div class="grid-item">
                <span>@item.Item1</span>
                <span class="leader" aria-hidden="true"></span>
                <span>@item.Item2.ToString("C0")</span>
            </div>
        }
    </div>
</div>

@code {
    public List<(string, decimal)> mockItems =
    [
        ("Haircut", 50m),
        ("Beard Trim", 20m),
        ("Face Waxing", 10m),
        ("Shave", 20m),
        ("Shampoo & Conditioner", 40m),
        ("Hot Shave", 30m),
    ];
}
