@inherits LayoutComponentBase

<div class="flex-wrapper">
    <div class="page">

        <nav class="navbar">
            <a class="navbar-brand nav-link" style="flex-grow: 1" href="">
                <img src="logo.png" alt="BarberCo Logo"/>
            </a>
            <div style="flex-grow: 8"></div>
            <NavLink class="nav-link" style="flex-grow: 1" href="" Match="NavLinkMatch.All">Home</NavLink>
            <NavLink class="nav-link" style="flex-grow: 1" href="appointment">Appointment</NavLink>
            <NavLink class="nav-link" style="flex-grow: 1" href="services">Services</NavLink>
            <NavLink class="nav-link" style="flex-grow: 1" href="contact">Contact</NavLink>
            <NavLink class="nav-link" style="flex-grow: 1" href="about">About</NavLink>
        </nav>

        <main>
            <article class="content px-4">
                @Body 
            </article>
        </main>

        <footer class="text-center py-3">
            &copy; 2025 BarberCo All rights reserved.
        </footer>
    </div>
</div>

@*
tasks:
setup theme colors
setup navigator
*@
