@inherits LayoutComponentBase

<div class="flex-wrapper">
    <div class="page">
        <header class="sticky-top img-fluid text-black">
            <nav class="navbar navbar-expand-lg navbar-dark container">
                <a class="navbar-brand" href="/">
                    <img src="logo.png" alt="BarberCo Logo" height="150" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/appointment">Appointment</a></li>
                        <li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <article class="content px-4">
                @Body 
            </article>
        </main>

        <footer class="text-center py-3">
            &copy; 2025 BarberCo All rights reserved.
        </footer>
    </div>
</div>