@inherits LayoutComponentBase

<div class="flex-wrapper">
    <div class="page">

        <nav class="navbar">
            <a class="navbar-brand" href="">
                <img src="logo.png" alt="BarberCo Logo" />
            </a>

            <button class="nav-toggle" type="button" aria-label="Toggle navigation" aria-controls="mainNavMenu" aria-expanded="@isMenuOpen" @onclick="ToggleMenu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>

            <div id="mainNavMenu" class="nav-menu @(isMenuOpen ? "open" : null)">
                <NavLink class="nav-link" @onclick="TryCloseMenu" href="" Match="NavLinkMatch.All">Home</NavLink>
                <NavLink class="nav-link" @onclick="TryCloseMenu" href="appointment">Appointment</NavLink>
                <NavLink class="nav-link" @onclick="TryCloseMenu" href="services">Services</NavLink>
                <NavLink class="nav-link" @onclick="TryCloseMenu" href="contact">Contact</NavLink>
                <NavLink class="nav-link" @onclick="TryCloseMenu" href="about">About</NavLink>
            </div>
        </nav>

        <main>
            <article class="content px-4">
                @Body 
            </article>
        </main>

        <footer class="text-center py-3" style="color: var(--text-color); font-size: 0.75rem;">
            &copy; 2025 BarberCo All rights reserved.
        </footer>
    </div>
</div>

@code {
    private bool isMenuOpen;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    private void TryCloseMenu()
    {
        // closes hamburger menu in mobile after a item is selected
        if(isMenuOpen)
        {
            isMenuOpen = false;
        }
    }
}
